header{
    width: 100%;
    background-color: black;
    margin-top: 0;
    padding-top: 0;   
}
header h1 {font-size: 50px;
    font-family: 1em sans-serif;
    font-style: italic;
    color: white;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
    margin-left: 10%;
    margin-bottom: 0;
}
header ul li{ 
    display: inline-block;
    list-style: none;
    color:white;
    width: 120px;
    text-align: center;
    padding: 16px 12px;       
}
.topnavbar{
    text-align: center;
    width: 600px;
    background-color: green;   
    margin-left: calc(92% - 600px);
    margin-left:-webkit-calc(92% - 600px);
    margin-right:0;
    padding-left: 0;
    padding-right: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
header a{
    text-decoration: none;
    color:#f2f2f2;
}
header a:hover{
    background-color:#ddd;
    padding: 16px 12px;
}

header img {
    margin-top: 0;
    display: block;
    width: 84%;
    margin: 0 auto;
}   
.vv1{margin-top: 60px;
    margin-left: calc(24%/2);
    width: 28%;
    display: inline-block;
    margin-bottom: 60px;
}
body{
    position: relative;
}
body img{
    display: block;
    margin: 0 auto;
}
.vv2 {
    width:52%;
    position: absolute;
    display: inline-block;
    top:600px;
}


footer{
    display: flex;
    justify-content: center;
    background-color: black;
}
footer h1{
    height: 80px;
    background-color: black;
    vertical-align: middle;
    font-size: 50px;
    font-family: 1em sans-serif;
    font-style: italic;
    color: white;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
