@import '../../variables.scss';

.banner-breadcrumb{
    width: 100%;
    height: 300px;
    text-align: center;
    background-image: url("/banner-breadcrumb.jpg");
    background-size: cover;
    overflow: auto;
    position: relative;
    .overlay-banner-breadcrumb{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba($color: #282834, $alpha: 0.6);
        z-index: 1;
    }
    h2{
        margin-top: 85px;
        width: 100%;
        line-height: 60px;
        font-weight: 800;
        font-size: 50px;
        color: white;
        z-index: 2;
        position: relative;
    }
    ol {
        z-index: 2;
        position: relative;
        width: 100%;
        list-style: none;
        height: 60px;
        color: white;
        li{
            padding: 0 10px;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            a{
                color: $color-active;
                text-decoration: none;
                &:hover{
                    color: white;
                }
            }
            
        }
    }
}