
.empty{
    position: fixed;
    left: 0;
    bottom: 0;
}
@media only screen and (min-width: 1366px){
    /*Main*/
    .container{
        margin-top: 82px;
        width: 100%;
    }
    .banner{
        width: 95%;
        max-width: 1200px;
        height: 500px;
        margin: 0 auto;
    }
    .banner > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container.scroll{
        margin-top: 144px;
        position: relative;
    }
    .main-container{
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .navigation{
        width: 95%;
        max-width: 1200px;
        margin: 20px auto 20px auto;
    }
    .navigation > a{
        text-decoration: none;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
    }
    .navigation > div{
        display: inline;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
    }
    .account-menu{
        width: 90%;
        max-width: 250px;
        display: block;
    }
    .account-menu-member-general{
        display: flex;
        align-items: center;
        width: 243px;
        height: 45px;
        padding-left: 7px;
        margin-bottom: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .account-menu-member-general > img {
        width: 45px;
        height: 45px;
        border-radius: 999px;
        box-sizing: border-box;
        border: 1px solid rgb(192, 192, 192);
    }
    .welcome-member{
        margin-left: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
    }
    .welcome-member > strong {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        display: block;
        margin-top: 5px;
        width: 180px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .account-menu-sidebar{
        width: 100%;
    }
    .account-menu-sidebar > li{
        list-style: none;
        padding: 7px 18px;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
    .account-menu-sidebar > li:hover {
        cursor: pointer;
    }
    .active-menu{
        background-color: rgb(221, 221, 221);
    }
    .fa-user-alt{
        font-size: 16px;
        margin-right: 22px;
    }
    .fa-bookmark{
        font-size: 16px;
        margin-right: 26px;
    }
    .log-out-button{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        margin: 30px auto;
        text-align: center;
        background-color: #DE0000;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
    }
    .log-out-button:hover{
        cursor: pointer;
        background-color: red;
    }

    .account-main-content{
        width: 90%;
        max-width: 900px;
        transition: 1s;
    }
    .trade-history-main-content{
        display: none;
        opacity: 0;
    }
    .account-main-content-title-main{
        font-family: Roboto;
        font-style: normal;
        font-size: 25px;
        line-height: 40px;
        width: 100%;
        padding-bottom: 10px;
        
    }
    .account-main-content-personal-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .account-main-content-title{
        font-family: Roboto;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        padding-top: 10px;
    }
    .user-input{
        margin-left: 30px;
    }
    .user-input > label{
        width: 150px;
    }
    .user-input > input{
        width: 405px;
        max-width: 405px;
    }
    .user-input > textarea{
        width: 405px;
        max-width: 405px;
    }
    .save-button{
        margin-left: 180px;
        width: 200px;
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
        background-color: #DE0000;
        border-radius: 5px;
        margin-top: 50px;
        text-align: center;
    }
    .save-button:hover{
        cursor: pointer;
        background-color: red;
    }
    .account-main-content-address-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .user-select{
        margin-left: 30px;
    }
    .user-select > label{
        width: 150px;
    }
    .user-select > input{
        width: 405px;
        max-width: 405px;
    }
    .user-select > select{
        width: 405px;
        max-width: 405px;
    }
    .account-main-content-payment-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .input-card-expiry-date{
        max-width: 405px;
    }

    table{
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        border-top: 1px solid black;
        display:table;
        border-collapse:collapse;
    }
    table > thead > tr > th{
        height: 80px;
        font-weight: 400;
        font-size: 18px;
    }
    table > thead > tr > th:first-child{
        width: 130px;
    }
    table > thead > tr > th:last-child{
        width: 200px;
    }
    table > tbody > tr {
        border-top: 1px solid rgb(236, 235, 235);
        display: table-row;
    }
    table > tbody > tr >  td {
        padding: 20px 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        display: table-cell;
    }
    .account-main-content-trade-history{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
    }

    footer{
        margin-top: 35px;
    }
}   

@media only screen and (min-width: 1025px) and (max-width: 1366px){
    /*Main*/
    .container{
        margin-top: 82px;
        width: 100%;
    }
    .container.scroll{
        margin-top: 144px;
        position: relative;
    }
    .main-container{
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .navigation{
        width: 1000px;
        margin: 20px auto 20px auto;
    }
    .navigation > a{
        text-decoration: none;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
    }
    .navigation > div{
        display: inline;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
    }

    .account-menu{
        width: 90%;
        max-width: 250px;
        display: block;
    }
    .account-menu-member-general{
        display: flex;
        align-items: center;
        width: 243px;
        height: 45px;
        padding-left: 7px;
        margin-bottom: 20px;
    }
    .account-menu-member-general > img {
        width: 45px;
        height: 45px;
        border-radius: 999px;
        box-sizing: border-box;
        border: 1px solid rgb(192, 192, 192);
    }
    .welcome-member{
        margin-left: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
    }
    .welcome-member > strong {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        display: block;
        margin-top: 5px;
        width: 180px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .account-menu-sidebar{
        width: 100%;
    }
    .account-menu-sidebar > li{
        list-style: none;
        padding: 7px 18px;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
    .account-menu-sidebar > li:hover {
        cursor: pointer;
    }
    .active-menu{
        background-color: rgb(221, 221, 221);
    }
    .fa-user-alt{
        font-size: 16px;
        margin-right: 22px;
    }
    .fa-bookmark{
        font-size: 16px;
        margin-right: 26px;
    }
    .log-out-button{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        margin: 30px auto;
        text-align: center;
        background-color: #DE0000;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
    }
    .log-out-button:hover{
        cursor: pointer;
        background-color: red;
    }

    .account-main-content{
        width: 700px;
        transition: 1s;
    }
    .trade-history-main-content{
        display: none;
        opacity: 0;
    }
    .account-main-content-title-main{
        font-family: Roboto;
        font-style: normal;
        font-size: 25px;
        line-height: 40px;
        width: 100%;
        padding-bottom: 10px;
        
    }
    .account-main-content-personal-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .account-main-content-title{
        font-family: Roboto;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        padding-top: 10px;
    }
    .user-input{
        margin-left: 30px;
    }
    .user-input > label{
        width: 150px;
    }
    .user-input > input{
        width: 405px;
        max-width: 405px;
    }
    .user-input > textarea{
        width: 405px;
        max-width: 405px;
    }
    .save-button{
        margin-left: 180px;
        width: 200px;
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
        background-color: #DE0000;
        border-radius: 5px;
        margin-top: 50px;
        text-align: center;
    }
    .save-button:hover{
        cursor: pointer;
        background-color: red;
    }
    .account-main-content-address-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .user-select{
        margin-left: 30px;
    }
    .user-select > label{
        width: 150px;
    }
    .user-select > input{
        width: 405px;
        max-width: 405px;
    }
    .user-select > select{
        width: 405px;
        max-width: 405px;
    }
    .account-main-content-payment-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .input-card-expiry-date{
        max-width: 405px;
    }

    table{
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        border-top: 1px solid black;
        display:table;
        border-collapse:collapse;
    }
    table > thead > tr > th{
        height: 80px;
        font-weight: 400;
        font-size: 18px;
    }
    table > thead > tr > th:first-child{
        width: 130px;
    }
    table > thead > tr > th:last-child{
        width: 200px;
    }
    table > tbody > tr {
        border-top: 1px solid rgb(236, 235, 235);
        display: table-row;
    }
    table > tbody > tr >  td {
        padding: 20px 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        display: table-cell;
    }
    .account-main-content-trade-history{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
    }

    footer{
        margin-top: 35px;
    }
}   

@media only screen and (min-width: 769px) and (max-width: 1024px){
    /*Main*/
    .container{
        margin-top: 124px;
        width: 100%;
    }
    .main-container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .navigation{
        width: 90%;
        margin: 20px auto 20px auto;
    }
    .navigation > a{
        text-decoration: none;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }
    .navigation > div{
        display: inline;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }
    
    .account-menu{
        width: 90%;
        max-width: 200px;
        display: block;
    }
    .account-menu-member-general{
        display: flex;
        align-items: center;
        width: 193px;
        height: 45px;
        padding-left: 7px;
        margin-bottom: 20px;
    }
    .account-menu-member-general > img {
        width: 45px;
        height: 45px;
        border-radius: 999px;
        box-sizing: border-box;
        border: 1px solid rgb(192, 192, 192);
    }
    .welcome-member{
        margin-left: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
    }
    .welcome-member > strong {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        display: block;
        margin-top: 5px;
        width: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .account-menu-sidebar{
        width: 100%;
    }
    .account-menu-sidebar > li{
        list-style: none;
        padding: 7px 18px;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
    .account-menu-sidebar > li:hover {
        cursor: pointer;
    }
    .active-menu{
        background-color: rgb(221, 221, 221);
    }
    .fa-user-alt{
        font-size: 16px;
        margin-right: 22px;
    }
    .fa-bookmark{
        font-size: 16px;
        margin-right: 26px;
    }
    .log-out-button{
        width: 200px;
        height: 40px;
        border-radius: 5px;
        margin: 30px auto;
        text-align: center;
        background-color: #DE0000;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
    }
    .log-out-button:hover{
        cursor: pointer;
        background-color: red;
    }

    .account-main-content{
        width: calc(100% - 230px);
        transition: 1s;
    }
    .trade-history-main-content{
        display: none;
        opacity: 0;
    }
    .account-main-content-title-main{
        font-family: Roboto;
        font-style: normal;
        font-size: 25px;
        line-height: 40px;
        width: 100%;
        padding-bottom: 10px;
        
    }
    .account-main-content-personal-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .account-main-content-title{
        font-family: Roboto;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        padding-top: 10px;
    }
    .user-input{
        margin-left: 30px;
    }
    .user-input > label{
        width: 150px;
        line-height: 25px;
    }
    .user-input > input{
        width: 405px;
        max-width: 405px;
    }
    .user-input > textarea{
        width: 405px;
        max-width: 405px;
    }
    .save-button{
        margin: 0 auto;
        width: 200px;
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
        background-color: #DE0000;
        border-radius: 5px;
        margin-top: 50px;
        text-align: center;
    }
    .save-button:hover{
        cursor: pointer;
        background-color: red;
    }
    .account-main-content-address-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .user-select{
        margin-left: 30px;
    }
    .user-select > label{
        width: 150px;
        line-height: 25px;
    }
    .user-select > input{
        width: 405px;
        max-width: 405px;
    }
    .user-select > select{
        width: 405px;
        max-width: 405px;
    }
    .account-main-content-payment-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .input-card-expiry-date{
        max-width: 405px;
    }

    table{
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        border-top: 1px solid black;
        display:table;
        border-collapse:collapse;
    }
    table > thead > tr > th{
        height: 80px;
        font-weight: 400;
        font-size: 18px;
    }
    table > thead > tr > th:first-child{
        width: 110px;
    }
    table > thead > tr > th:last-child{
        width: 160px;
    }
    table > tbody > tr {
        border-top: 1px solid rgb(236, 235, 235);
        display: table-row;
    }
    table > tbody > tr >  td {
        padding: 20px 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        display: table-cell;
    }
    .account-main-content-trade-history{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
    }
    footer{
        margin-top: 35px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px){
    /*Main*/
    .container{
        margin-top: 124px;
        width: 100%;
    }
    .main-container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .navigation{
        width: 90%;
        margin: 20px auto 10px auto;
    }
    .navigation > a{
        text-decoration: none;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }
    .navigation > div{
        display: inline;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }
    
    .account-menu{
        width: 90%;
        margin: 0 auto;
    }
    .account-menu-member-general{
        display: flex;
        align-items: center;
        width: calc(100% - 7px);
        height: 45px;
        padding-left: 7px;
        margin-bottom: 20px;
    }
    .account-menu-member-general > img {
        width: 45px;
        height: 45px;
        border-radius: 999px;
        box-sizing: border-box;
        border: 1px solid rgb(192, 192, 192);
    }
    .welcome-member{
        margin-left: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        width : calc(100% - 60px);
    }
    .welcome-member > strong {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        display: block;
        margin-top: 5px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .account-menu-sidebar{
        width: 100%;
    }
    .account-menu-sidebar > li{
        list-style: none;
        padding: 7px 18px;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
    .account-menu-sidebar > li:hover {
        cursor: pointer;
    }
    .active-menu{
        background-color: rgb(221, 221, 221);
    }
    .fa-user-alt{
        font-size: 16px;
        margin-right: 22px;
    }
    .fa-bookmark{
        font-size: 16px;
        margin-right: 26px;
    }
    .log-out-button{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        margin: 30px auto;
        text-align: center;
        background-color: #DE0000;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
    }
    .log-out-button:hover{
        cursor: pointer;
        background-color: red;
    }

    .account-main-content{
        width: 90%;
        margin: 0 auto;
        transition: 1s;
    }
    .trade-history-main-content{
        display: none;
        opacity: 0;
    }
    .account-main-content-title-main{
        font-family: Roboto;
        font-style: normal;
        font-size: 25px;
        line-height: 40px;
        width: 100%;
        padding-bottom: 10px;
        
    }
    .account-main-content-personal-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .account-main-content-title{
        font-family: Roboto;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        padding-top: 10px;
    }
    .user-input{
        margin-left: auto;
        margin-right: auto;
    }
    .user-input > label{
        width: 150px;
        line-height: 25px;
    }
    .user-input > input{
        width: calc(100% - 150px);
    }
    .user-input > textarea{
        width: calc(100% - 150px);
    }
    .save-button{
        margin: 0 auto;
        width: 200px;
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
        background-color: #DE0000;
        border-radius: 5px;
        margin-top: 50px;
        text-align: center;
    }
    .save-button:hover{
        cursor: pointer;
        background-color: red;
    }
    .account-main-content-address-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .user-select{
        margin-left: auto;
        margin-right: auto;
    }
    .user-select > label{
        width: 150px;
        line-height: 25px;
    }
    .user-select > input{
        width: calc(100% - 150px);
    }
    .user-select > select{
        width: calc(100% - 150px);
    }
    .account-main-content-payment-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .input-card-expiry-date{
        width: calc(100% - 150px);
    }

    table{
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        border-top: 1px solid black;
        display:table;
        border-collapse:collapse;
    }
    table > thead > tr > th{
        height: 80px;
        font-weight: 400;
        font-size: 18px;
    }
    table > thead > tr > th:first-child{
        width: 110px;
    }
    table > thead > tr > th:last-child{
        width: 160px;
    }
    table > tbody > tr {
        border-top: 1px solid rgb(236, 235, 235);
        display: table-row;
    }
    table > tbody > tr >  td {
        padding: 20px 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        display: table-cell;
    }
    .account-main-content-trade-history{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
    }
    /*footer*/
    footer{
        margin-top: 30px;
    }
    .subscription-part{
        display: none;
    }
}

@media only screen and (min-width: 351px) and (max-width: 576px){
    /*Main*/
    .header-tablet{
        padding: 0;
        border: 0;
    }
    .container{
        margin-top: 94px;
        width: 100%;
    }
    .main-container{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
    .navigation{
        width: 90%;
        margin: 20px auto 10px auto;
    }
    .navigation > a{
        text-decoration: none;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }
    .navigation > div{
        display: inline;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }
    
    .account-menu{
        width: 90%;
        margin: 0 auto;
    }
    .account-menu-member-general{
        display: flex;
        align-items: center;
        width: calc(100% - 7px);
        height: 45px;
        padding-left: 7px;
        margin-bottom: 20px;
    }
    .account-menu-member-general > img {
        width: 45px;
        height: 45px;
        border-radius: 999px;
        box-sizing: border-box;
        border: 1px solid rgb(192, 192, 192);
    }
    .welcome-member{
        margin-left: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        width : calc(100% - 60px);
    }
    .welcome-member > strong {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        display: block;
        margin-top: 5px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .account-menu-sidebar{
        width: 100%;
    }
    .account-menu-sidebar > li{
        list-style: none;
        padding: 7px 18px;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
    .account-menu-sidebar > li:hover {
        cursor: pointer;
    }
    .active-menu{
        background-color: rgb(221, 221, 221);
    }
    .fa-user-alt{
        font-size: 16px;
        margin-right: 22px;
    }
    .fa-bookmark{
        font-size: 16px;
        margin-right: 26px;
    }
    .log-out-button{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        margin: 20px auto;
        text-align: center;
        background-color: #DE0000;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
    }
    .log-out-button:hover{
        cursor: pointer;
        background-color: red;
    }

    .account-main-content{
        width: 90%;
        margin: 0 auto;
        transition: 1s;
    }
    .trade-history-main-content{
        display: none;
        opacity: 0;
    }
    .account-main-content-title-main{
        font-family: Roboto;
        font-style: normal;
        font-size: 22px;
        line-height: 30px;
        width: 100%;
        padding-bottom: 10px;
        
    }
    .account-main-content-personal-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .account-main-content-title{
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 32px;
        padding-top: 10px;
    }
    .user-input{
        margin-left: 0;
        width: 100%;
    }
    .user-input > label{
        width: 150px;
        line-height: 25px;
    }
    .user-input > input{
        width: 100%;
    }
    .user-input > textarea{
        width: 100%;
    }
    .save-button{
        margin: 0 auto;
        width: 200px;
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
        background-color: #DE0000;
        border-radius: 5px;
        margin-top: 50px;
        text-align: center;
    }
    .save-button:hover{
        cursor: pointer;
        background-color: red;
    }
    .account-main-content-address-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .user-select{
        margin-left: 0;
        width: 100%;
    }
    .user-select > label{
        width: 150px;
        line-height: 25px;
    }
    .user-select > input{
        width: 100%;
    }
    .user-select > select{
        width: 100%;
    }
    .account-main-content-payment-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .input-card-expiry-date{
        width: 100%;
    }

    table{
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        border-top: 1px solid black;
        display:table;
        border-collapse:collapse;
    }
    table > thead > tr > th{
        height: 60px;
        font-weight: 400;
        font-size: 17px;
    }
    table > thead > tr > th:first-child{
        width: 110px;
    }
    table > thead > tr > th:last-child{
        width: 160px;
    }
    table > tbody > tr {
        border-top: 1px solid rgb(236, 235, 235);
        display: table-row;
    }
    table > tbody > tr >  td {
        padding: 10px 5px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        display: table-cell;
    }
    .account-main-content-trade-history{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        margin-top: 5px;
    }

    .history-trade-content{
        width: 100%;
        border-top: 1px solid black;
    }
    .history-trade-item{
        width: 100%;
        padding: 10px 0px;
        border-top: 1px solid rgb(236, 235, 235);
    }
    .history-trade-item-name{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 10px;
    }
    .history-trade-item-name-date, .history-trade-item-name-money{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgb(117, 117, 117);
    }

    /*footer*/
    footer{
        margin-top: 20px;
    }
    .subscription-part{
        display: none;
    }
}

@media only screen and (max-width: 350px){
    /*Main*/
    .container{
        margin-top: 94px;
        width: 100%;
    }
    .main-container{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
    .navigation{
        width: 95%;
        margin: 20px auto 10px auto;
    }
    .navigation > a{
        text-decoration: none;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }
    .navigation > div{
        display: inline;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }

    .account-menu{
        width: 95%;
        margin: 0 auto;
    }
    .account-menu-member-general{
        display: flex;
        align-items: center;
        width: calc(100% - 7px);
        height: 45px;
        padding-left: 7px;
        margin-bottom: 20px;
    }
    .account-menu-member-general > img {
        width: 45px;
        height: 45px;
        border-radius: 999px;
        box-sizing: border-box;
        border: 1px solid rgb(192, 192, 192);
    }
    .welcome-member{
        margin-left: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        width : calc(100% - 60px);
    }
    .welcome-member > strong {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        display: block;
        margin-top: 5px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .account-menu-sidebar{
        width: 100%;
    }
    .account-menu-sidebar > li{
        list-style: none;
        padding: 7px 18px;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
    .account-menu-sidebar > li:hover {
        cursor: pointer;
    }
    .active-menu{
        background-color: rgb(221, 221, 221);
    }
    .fa-user-alt{
        font-size: 16px;
        margin-right: 22px;
    }
    .fa-bookmark{
        font-size: 16px;
        margin-right: 26px;
    }
    .log-out-button{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        margin: 20px auto;
        text-align: center;
        background-color: #DE0000;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
    }
    .log-out-button:hover{
        cursor: pointer;
        background-color: red;
    }

    .account-main-content{
        width: 95%;
        margin: 0 auto;
        transition: 1s;
    }
    .trade-history-main-content{
        display: none;
        opacity: 0;
    }
    .account-main-content-title-main{
        font-family: Roboto;
        font-style: normal;
        font-size: 22px;
        line-height: 30px;
        width: 100%;
        padding-bottom: 10px;
        
    }
    .account-main-content-personal-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .account-main-content-title{
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 32px;
        padding-top: 10px;
    }
    .user-input{
        margin-left: 0;
        width: 100%;
    }
    .user-input > label{
        width: 150px;
        line-height: 25px;
    }
    .user-input > input{
        width: 100%;
    }
    .user-input > textarea{
        width: 100%;
    }
    .save-button{
        margin: 0 auto;
        width: 200px;
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 40px;
        color: white;
        background-color: #DE0000;
        border-radius: 5px;
        margin-top: 30px;
        text-align: center;
    }
    .save-button:hover{
        cursor: pointer;
        background-color: red;
    }
    .account-main-content-address-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 30px;
    }
    .user-select{
        margin-left: 0;
        width: 100%;
    }
    .user-select > label{
        width: 150px;
        line-height: 25px;
    }
    .user-select > input{
        width: 100%;
    }
    .user-select > select{
        width: 100%;
    }
    .account-main-content-payment-info{
        border-top: 1px solid rgb(177, 177, 177);
        width: 100%;
        padding-bottom: 20px;
    }
    .input-card-expiry-date{
        width: 100%;
    }

    table{
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        border-top: 1px solid black;
        display:table;
        border-collapse:collapse;
    }
    table > thead > tr > th{
        height: 60px;
        font-weight: 400;
        font-size: 17px;
    }
    table > thead > tr > th:first-child{
        width: 110px;
    }
    table > thead > tr > th:last-child{
        width: 160px;
    }
    table > tbody > tr {
        border-top: 1px solid rgb(236, 235, 235);
        display: table-row;
    }
    table > tbody > tr >  td {
        padding: 10px 5px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        display: table-cell;
    }
    .account-main-content-trade-history{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        margin-top: 5px;
    }

    .history-trade-content{
        width: 100%;
        border-top: 1px solid black;
    }
    .history-trade-item{
        width: 100%;
        padding: 10px 0px;
        border-top: 1px solid rgb(236, 235, 235);
    }
    .history-trade-item-name{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 10px;
    }
    .history-trade-item-name-date, .history-trade-item-name-money{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgb(117, 117, 117);
    }

    /*footer*/
    footer{
        margin-top: 20px;
    }
    .subscription-part{
        display: none;
    }
}