*, body {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

@media only screen and (min-width: 1366px){
    /*Header*/
    .header-desktop{
        width: 100%;
        position: relative;
        background-color: black;
        height: 124px;
        position: relative;
        z-index: 4;
    }
    .header-desktop.scroll{
        position: fixed;
        top: -62px;
    }
    .top-navbar{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        height: 62px;
    }
    .avatar{
        width: 124px;
        height: 124px;
        position: absolute;
        top: 0px;
        z-index: 7;
        display: inline-block;
        transition: 0.5s;
    }
    .avatar.scroll{
        top: -62px;
    }
    .avatar > img{
        width: 100%;
        height: 100%;
    }
    .menu-bar{
        width: 100vw;
        background-color: white;
        position: absolute;
        z-index: 5;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        height: 62px;
        top:62px;
        left: calc(600px - 50vw);
    }
    .menu-bar-inner{
        width: 1200px;
        position: absolute;
        left: calc(50vw - 600px);
        z-index: 6;
        height: 62px;
    }
    .avatar-sub-container{
        position: absolute;
        top: 0%;
        left: 0%;
        transition: 0.5s;
        width: 124px;
        height: 62px;
        overflow: hidden;
    }
    .avatar-sub{
        position: absolute;
        top: 100%;
        left: 0%;
        transition: 0.5s;
        width: 124px;
        height: 62px;
    }
    .avatar-sub > img{
        width: 100%;
        height: 100%;
    }
    .avatar-sub.scroll{
        top: 0%;
    }
    .menu-bar-list{
        display: flex;
    }
    .menu-bar-list > li{
        list-style: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        position: absolute;
        color: black;
    }
    .menu-bar-list > li:hover{
        cursor: pointer;
        border-bottom: 2px solid black;
    }
    .menu-bar-list > li > a{
        padding: 20px 0px;
        text-decoration: none;
        color: black;       
    }
    .menu-bar-item-1{
        left: 149px;
        width: 90;
    }
    .menu-bar-item-2{
        left: 264px;
        width: 70px;
    }
    .menu-bar-item-2:hover{
        cursor: pointer;
    }
    .menu-bar-item-2:hover .sub-menu-guitar{
        display: block;
    }
    .sub-menu-guitar{
        position: absolute;
        z-index: 6;
        top: 62px;
        width: 150px;
        left: 0px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        display: none;
        background-color: white;
    }
    .blank-sub-menu{
        height: 5px;
    }
    .sub-menu-guitar > li{
        list-style: none;
        width: 150px;
        text-align: left;
        text-indent: 15px;
        height: 30px;
        display: flex;
        align-items: center;
        margin: 10px auto;
    }
    .sub-menu-guitar > li > a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
    .sub-menu-guitar > li:hover > a{
        color: orangered;
    } 
    .menu-bar-item-3{
        width: 80px;
        left: 359px;
    }  
    .menu-bar-item-4{
        width: 110px;
        left: 464px;
    }
    .menu-bar-item-5{
        width: 50px;
        left: 599px;
        border-bottom: 2px solid black;
    }
    .menu-bar-item-6{
        width: 70px;
        left: 674px;
    }
    .menu-bar-sign-up{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        position: absolute;
        color: black;
        position: absolute;
        width: 100px;
        left: 996px;
    }
    .menu-bar-sign-up > a{
        padding: 20px 0px;
        text-decoration: none;
        color: black;
    }
    .sub-shopping-cart{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        height: 60px;
        position: absolute;
        color: black;
        position: absolute;
        width: 80px;
        right: 0px;
        display: flex;
        justify-content: space-between;
        
    }
    .sub-shopping-cart > a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: black;
        width: 80px;
        height: 60px;
    }
    .count-item{
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 16px;
        text-align: center;
        line-height: 28px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        border: 1px solid black;
    }
    .line-1{
        width: 1px;
        position: absolute;
        top:0px;
        height: 32px;
        left: 986px;
        background-color: black;
        display: none;
        transition: 0.5s;
    }
    .line-1.scroll{
        display: block;
        top: 13px; 
    }
    .line-2{
        width: 1px;
        position: absolute;
        top:13px;
        height: 32px;
        left: 1104px;
        background-color: black;
    }
    .search-bar{
        position: absolute;
        z-index: 6;
        width: 588px;
        top: 15px;
        left: 150px;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 3px;
        transition: 0.5s;
    }
    .search-bar.scroll{
        top: 76px;
        left: 948px;
        width: 32px;
    }
    .search-bar > img{
        cursor: pointer;
    }
    .input-search-bar{
        width: 556px;
        height: 32px;
        position: relative;
        z-index: 6;
        border: none;
        border-radius: 0px 3px 3px 0px;
        border-left: 1px solid black;
        text-indent: 5px;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        transition: 0.5s;
    }
    .input-search-bar.scroll{
        width: 0px;
        border: 0px;
    }
    .input-search-bar::placeholder{
        text-indent: 5px;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
    }
    .input-search-bar:focus{
        outline: none;
    }
    .address-top-navbar{
        position: absolute;
        width: 286px;
        height: 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 18px;
        left: 810px;
    }
    .location-top{
        color: white;
        font-size: 90%;
    }
    .address-top-navbar > p{
        margin: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: white;
    }
    .phone-number-top-navbar{
        position: absolute;
        width: 83px;
        height: 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 18px;
        right: 0px;
    }
    .phone-number-top-navbar > p{
        margin: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: white;
    }
    .phone-top{
        color: white;
        font-size: 90%;
    }
    /*Main*/
    .container{
        width: 100%;
    }
    .container.scroll{
        margin-top: 124px;
    }
    .main-container{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
    }
    .navigation{
        width: 90%;
        max-width: 1200px;
        margin: 20px auto 0px auto;
    }
    .navigation > a{
        text-decoration: none;
        color: black;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
    }
    .article-content{
        width: 90%;
        max-width: 800px;
        padding-right: 15px;
        border-right:1px solid #C4C4C4 ;
    }
    .article-content-title{
        font-family: Roboto;
        width: 90%;
        max-width: 700px;
        margin: 15px auto 0px auto;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .article-item-info{
        width: 90%;
        max-width: 700px;
        margin: 10px auto 0px auto;
        display: flex;
    }
    .article-item-date{
        width: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .article-item-date > img{
        width: 16px;
        height: 16px;
    }
    .article-item-date > div{
        width: 140px;
        height: 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 34px;  
        color: #000000;
    }
    .article-item-author{
        width: 63px;
        margin-left: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .article-item-author > img{
        width: 15px;
        height: 15px;
    }
    .article-item-author > div{
        width: 44px;
        height: 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 34px;  
        color: #000000;
    }
    .article-header-photo{
        width: 90vw;
        max-width: 700px;
        height: 45vw;
        max-height: 350px;
        margin: 30px auto 20px auto;
        border-radius: 10px;
        overflow: hidden;
    }
    .article-header-photo > img{
        width: 100%;
        height: 100%;
    }
    .article-paragraph-normal{
        width: 90%;
        max-width: 700px;
        margin: 10px auto 0px auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #000000;
    }
    .article-paragraph-title{
        width: 90%;
        max-width: 700px;
        margin: 10px auto 0px auto;
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        color: #000000;
    }
    .article-paragraph-italic{
        width: 90%;
        max-width: 700px;
        margin: 10px auto 0px auto;
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #000000;
    }
    .article-photo{
        width: 90vw;
        max-width: 600px;
        height: 54vw;
        max-height: 350px;
        margin: 20px auto 20px auto;
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
    }
    .article-photo > img{
        width: 100%;
        height: 100%;
    }
    .article-paragraph-author{
        width: 90%;
        max-width: 700px;
        margin: 15px auto 0px auto;
        font-family: Lora;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        direction: rtl;
    }
    .article-sub-part{
        width: 90%;
        max-width: 370px;
        position: sticky;
        top: 92px;
        height: 500px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .author-info{
        width: 100%;
        height: 100px;
    }
    .author-photo{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin-left: 25px;
        overflow: hidden;
    }
    .author-photo > img{
        width: 100%;
        height: 100%;
    }
    .author-name{
        position: absolute;
        top:10px;
        left: 120px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }
    .author-status{
        position: absolute;
        top:40px;
        left: 120px;
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }
    .others-articles{
        width: 100%;
        margin-top: 35px;
    }
    .others-articles-unit{
        width: 100%;
        margin-bottom: 10px;
    }
    .others-articles-title{
        width: 90%;
        margin-left: 25px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }
    .others-articles-time{
        margin-left: 25px;
        height: 26px;
        font-family: Roboto;
        font-style: normal;
        display: flex;
        align-items: center;
    }
    .others-articles-time > img{
        width: 15px;
        height: 15px;
    }
    .others-articles-time >div{
        font-weight: 300;
        margin-left: 10px;
        height: 30px;
        font-size: 14px;
        line-height: 32px;   
        color: #000000;
    }
    .others-articles-item{
        display: block;
        text-decoration: none;
        margin-left: 25px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-left: 50px;
    }
    .others-articles-item:hover{
        color: orangered;
        cursor: pointer;
    }
    .scrolling-button{
        display: none;
        width: 40px;
        height: 40px;
        right: 5%;
        bottom: 5%;
        position: fixed;
    }
    .scrolling-button-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(145, 145, 145);
        border-radius: 5px;
    }
    .scrolling-button-container > img{
        width: 50%;
        height: 50%;
    }
    .scrolling-button:hover{
        cursor: pointer;
    }
}   