*, body {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
@media only screen and (min-width: 1366px){
    /*Main*/
    header{
        width: 100%;
        border-bottom: 2px solid rgb(180, 180, 180)
    }
    .header-main-container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .avatar{
        width: 124px;
        height: 124px;
    }
    .avatar > img{
        width: 100%;
        height: 100%;
    }
    .payout-process{
        width: 50%;
        display: flex;
        height: 124px;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .step-1 {
        padding: 15px 0px;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #83d7fe;
        box-sizing: border-box;
        border-width: 2px 0px 2px 2px;
        border-style: solid;
        border-color: #C4C4C4;
        position: relative;
        z-index: 1;
    }
    .step1-arrow{
        position: absolute;
        left: 100%;
        top: 0%;
        width: 45px;
        height: 100%;
        clip-path: polygon(0 0, 3px 0, 100% 50%,3px 100%,0 100%);
        background-color: #C4C4C4;
        z-index: 1;
    }
    .step1-arrow-after{
        position: absolute;
        left: 100%;
        top: 0%;
        width: 42px;
        height: 100%;
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        background-color: #83d7fe;
        z-index: 2;
    }
    .step-2{
        position: relative;
        z-index: 0;
        padding: 15px 0px;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #83d7fe;
        box-sizing: border-box;
        border-width: 2px 2px 2px 0px;
        border-style: solid;
        border-color: #C4C4C4;
    }
    .step-2 .number-step{
        margin-left: 30px;
    }
    .title-step{
        width: 110px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: black;
        margin-bottom: 5px;
        text-align: center;
        color: rgb(126, 126, 126);
    }
    .number-step{
        height: 40px;
        width: 40px;
        border-radius: 22px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 40px;
        color: rgb(126, 126, 126);
        text-align: center;
        background-color: #83d7fe;
        border: 1px solid rgb(126, 126, 126);
    }
    .phone-contact{
        height: 60px;
        display: flex;
        align-items: center;
        border: 1px solid #dbdbdb;
        padding: 0px 10px;
        border-radius: 30px;
    }
    .phone-icon{
        width: 40px;
        height: 40px;
    }
    .phone-icon >img{
        width: 100%;
        height: 100%;
    }
    .phone-number{
        margin-left: 20px;
        text-align: center;
    }
    .phone-number > p:nth-child(1){
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 2px;
        color: #DE0000;
    }
    .phone-number > p:nth-child(2){
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
    }
    .container{
        width: 100%;
    }
    .container.scroll{
        margin-top: 124px;
    }
    .main-container{
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .user-info{
        width: 100%;
        max-width: 875px;
        
    }
    .user-address{
        width: 100%;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 50px;
    }
    .user-address-title{
        width: 300px;
        margin: 15px auto 20px 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        color: #32323D;
    }
    .user-input{
        margin-top: 12px;
        margin-left: 50px;
        width: 95%;
        max-width: 555px;
        height: 32px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000000;
        
    }
    .user-input > input{
        width:  100%;
        max-width: 400px;
        height: 32px;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 3px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: black;
        text-indent: 8px;
        outline: none;
    }
    .user-input > input::placeholder{
        color: #595959;
    }
    .user-select{
        margin-top: 12px;
        margin-left: 50px;
        width: 95%;
        max-width: 555px;
        height: 32px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000000;
    }
    .user-select > select{
        width:  100%;
        max-width: 400px;
        height: 32px;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 3px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: black;
        outline: none;
    }
    .user-input >textarea{
        width:  100%;
        max-width: 400px;
        height: 75px;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 3px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: black;
        text-indent: 8px;
        outline: none;
    }
    .user-address-part{
        align-items: flex-start;
        height: auto;
    }
    .user-address-part >label{
        margin-top: 7px;
    }
    #input-user-address{
        line-height: 25px;
    }
    #input-user-address::placeholder{
        align-items: flex-start;
    }
    .user-note-part{
        align-items: flex-start;
        height: auto;
        margin-bottom: 15px;
    }
    .user-note-part> textarea{
        height: 125px;
    }
    .user-note-part >label{
        margin-top: 7px;
    }
    #input-user-note{
        line-height: 25px;
    }
    #input-user-note::placeholder{
        align-items: flex-start;
    }
    .user-payout-infor{
        width: 100%;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 50px;
    }
    .user-payout-title{
        width: 300px;
        margin: 15px auto 5px 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        color: #32323D;
    }
    .user-payout-option{
        margin-left: 50px;
        margin-bottom: 15px;
    }
    .user-payout-option > label{
        cursor: pointer;
        position: relative;
        padding-left: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
    }
    .user-payout-option > label > input{
        opacity: 0;
        width: 0px;
        margin-top: 11px;
    }
    .user-payout-option > label > .checkmark{
        position: absolute;
        top: 3px;
        left: 0px;
        cursor: pointer;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border : 1px solid black;
    }
    
    .user-payout-option > label > input:checked + .checkmark{
        background-color: black; 
    }
    .user-card-input{
        margin-left: 20px;
        margin-top: 15px;
        transform-origin: left top 0;
        transform: scaleY(0);
        display: none;
        opacity: 0;
        transition: 0.5s;
    }
    .user-payout-option > label > input:checked ~ .user-card-input{
        display: block;
        animation: fade-in 0.5s 0.1s forwards;
    }
    @keyframes fade-in {
        0%{ 
            opacity: 0;
            transform: scaleY(0);
        }
        100%{
            opacity: 1;
            transform: scaleY(1);
        }
    }
    .user-input-sub {
        margin-top: 12px;
        width: 95%;
        max-width: 535px;
        height: 32px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000000;
    }
    .user-select-sub{
        margin-top: 12px;
        width: 95%;
        max-width: 535px;
        height: 32px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000000;
    }   
    .user-select-sub > select{
        width:  100%;
        max-width: 400px;
        height: 32px;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 3px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: black;
        outline: none;
    }
    .user-input-sub > input{
        width:  100%;
        max-width: 400px;
        height: 32px;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 3px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: black;
        text-indent: 8px;
        outline: none;
    }
    .order-button{
        width: 90%;
        max-width: 300px;
        height: 50px;
        margin: 35px auto 20px auto;
        background: #DE0000;
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    .order-button:hover{
        cursor: pointer;
        background-color: red;
    }
    .order-note{
        width: 360px;
        height: 30px;
        margin: 0 auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #32323D;
    }
    .summary-shopping-cart{
        width: 100%;
        max-width: 300px;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 50px;
    }
    .summary-shopping-cart-title{
        padding-top: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    .summary-shopping-cart-title > div{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #32323D;
        margin-left: 20px;
    }
    .summary-shopping-cart-title > a{
        width: 80px;
        height: 30px;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 5px;
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #32323D;
        margin-right: 20px;
    }
    .summary-shopping-cart-title > a:hover{
        background-color: rgb(219, 217, 217);
    }
    .shopping-cart-item-container{
        width: 100%;
        padding-bottom: 5px;
    }
    .shopping-cart-item{
        border-top: 1px solid #DADADA;
        width: 90%;
        max-width: 260px;
        margin: 0 auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #32323D;
    }
    .item-detail{
        padding-top: 10px;
    }
    .item-money-value{
        padding-top: 5px;
        text-align: right;
    }
    .total-money{
        border-top: 1px solid #DADADA;
        width: 90%;
        max-width: 260px;
        margin: 0 auto;
    }
    .total-money-title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    .total-money-note{
        margin-top: 5px;
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #32323D;
        text-align: right;
        margin-bottom: 10px;
    }
    .total-money-title > div:nth-child(1){
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #32323D;
    }
    .total-money-title > div:nth-child(2){
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        text-align: right;
        color: #DE0000;
    }
    .shopping-cart-note{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        text-align: right;
        color: #DE0000;
    }

    .scrolling-button{
        display: none;
        width: 40px;
        height: 40px;
        right: 5%;
        bottom: 5%;
        position: fixed;
    }
    .scrolling-button-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(145, 145, 145);
        border-radius: 5px;
    }
    .scrolling-button-container > img{
        width: 50%;
        height: 50%;
    }
    .scrolling-button:hover{
        cursor: pointer;
    }
}