.hehe{text-align: center;}
.hehe1{
    margin-left: 525px;}
.hehe2{
    margin-left: 500px;
    margin-right:500px;
    text-indent: 25px;;}
#hehe3{
    margin-right: 510px;
    text-align: right;  }
#hehe4{
    margin-right: 575px;
    text-align: right;}
#hehe5{
    margin-right: 575px;
    text-align: right;}
#chuki{
    position: absolute;
    right: 575px;
    width: 90px;}